/* css styles */

/*
    border-style: solid;
    border-color: #030303;
*/

.bash-in-nocolor {
    background-color: #f0f3f4;
    padding: 5px 5px 5px 10px;
    border-radius: 0px;
    border-style: none;
    border-width: 1px;
    margin: 0px 0px 15px 0px;
}

.bash-out {
    background-color: #e4e7ed;
    padding: 5px 5px 0px 10px;
    border-radius: 0px;
    border-style: none;
    border-width: 1px;
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: #030303;
    margin: -18px 0px 15px 0px;
    font-style: italic;
    color: rgb(141, 141, 143);
}

.bash-out-solo {
    background-color: #e4e7ed;
    padding: 5px 5px 5px 10px;
    border-radius: 0px;
    border-style: none;
    border-width: 1px;
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: #030303;
    margin: 0px 0px 15px 0px;
    font-style: italic;
}

.exercise {
  padding: 0.5em;
  margin: 1.5em;
  padding-left: 65px;
  background-size: 45px;
  background-repeat: no-repeat;
  background-position: 10px center;
  min-height: 80px;
  color: #1f5386;
  background-color: #e4e9e4;
  border: solid 3px #7a767a;
  border-radius: 25px;
}

.exercise {
  background-image: url("img/puzzle-div.png");
}

/* --------------------------------------------------------------------------/*
/* details sections */
details > summary {
  padding: 10px 10px;
  background-color: #f1f6f1;
  border: none;
  border-radius: 25px;
  /*box-shadow: 3px 3px 4px black;*/
}

details {
  border-radius: 25px;
  background-color: #f1f6f1;
  padding: 5px 5px;
  margin-left: 5px;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCCFDE;
  border-radius: 5px;
}
